{
  "env": {
    "node": true
  },
  "globals": {
    "step": true,
    "beforeSuite": true,
    "afterSuite": true,
    "beforeScenario": true,
    "afterScenario": true,
    "beforeSpec": true,
    "afterSpec": true
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "semi": ["error", "never"],
    "camelcase": "off",
    "no-console": "off",
    "no-unused-expressions": "off",
    "func-names": "off",
    "prefer-const": 0,
    "no-alert": 0
  }
}
